[Unit]
Description=YOLO Inference Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nlbutts
Group=nlbutts
WorkingDirectory=/home/nlbutts/hangermon
Environment=PYTHONUNBUFFERED=1
# Wait 2 seconds for system to fully boot
ExecStart=/home/nlbutts/hangermon/start_yolo.sh
Restart=on-failure
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
